* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

/* Header section style */

.header {
  padding: 50px;
  margin-top: -50px;
}

.header_one {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.header_two {
  display: flex;
  justify-content: space-between;
}

.header_time {
  font-weight: 600;
}

.logo_border {
  width: 35%;
  height: 2%;
  border: 1px solid gray;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  font-weight: 600;
}

/* mid section style */

.token_section {
  display: inline-block;
  width: 93%;
  height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: #eeeeee;
}

.token_text_one {
  border: 1px solid #000;
  margin-right: 20px;
  padding-bottom: 12px;
  padding-top: 5px;
}

.token_text_two {
  color: #b0afb4;
}

.mid_sectionA {
  width: 91%;
  margin-right: 5px;
  text-align: center;
  border: 1px solid gray;
  background-color: #eeeeee;
  border-radius: 12px;
  margin-top: -50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 8px 8px #c9b9b9;
}

.mid_sectionA_text {
  padding: 8px;
}

.mid_sectionB_text {
  padding: 8px;
  font-weight: 900;
}

.mid_sectionB_one {
  width: 93%;
  height: 50px;
  background-color: #dad8d8;
  padding: 5px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.mid_section_text {
  color: #fff;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 10px;
}

.mid_sectionB_one_text {
  color: #04a9f4;
  font-weight: 600;
}

.send_receive {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 20px;
}

.send_text {
  width: 150px;
  height: 40px;
  border: 2px solid #04a9f4;
  background-color: #04a9f4;
  border-radius: 10px;
}

.send_text_item {
  color: #fff;
  margin-top: 6px;
  margin-left: 45px;
}

.receive_text_item {
  color: #fff;
  margin-top: 6px;
  margin-left: 40px;
}

.receive_text {
  width: 150px;
  height: 40px;
  border: 2px solid #04a9f4;
  background-color: #04a9f4;
  border-radius: 10px;
}

.recent_activities_list {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 35px;
  border-bottom: 2px solid #eee8e8;
}

.recent_activities_name {
  font-weight: 600;
  color: #646366;
}

.recent_activities_number {
  font-weight: 600;
  color: #646366;
}

.mid_sectionB_one_textB {
  color: #fffafa;
  font-weight: 700;
}

/* styling Table */

.table {
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 20px;
  border: 1px solid #000;
  margin-top: -20px;
  background-color: #eeeeee;
  padding: 5px;
  padding-left: -40px;
  box-shadow: 1px 2px 8px 8px #eeeeee;
}

/* footer section style */

.footer_secction {
  display: flex;
  justify-content: space-evenly;
}

.footersection_item_name {
  color: red;
  font-weight: 600;
}
